---
title: Blog - Jennifer Aldoretta
---

{% include header.html %}

		</div><!--.header-container-->
		<div class="body-container">
			<div class="left-column">
				<h1 class="body-title">All Blog Posts</h1>
				<div class="body-wrapper">
					{% for post in site.posts %}
						{% if post.external_url %}
						<p class="blog-list"><a  class ="body-text-link" href="{{ post.external_url }}" onclick="_gaq.push(['_trackpageview', '{{ post.url }}']);" >{{ post.title }}</a>, posted at {{ post.external_site }} on {{ post.date | date: '%B %-d, %Y' }}</p>
						{% else %}
						<p class="blog-list"><a class="body-text-link" href="{{post.url}}">{{ post.title }}</a>, posted on {{ post.date | date: '%B %-d, %Y' }}</p>
						{% endif %}
					{% endfor %}
				</div><!--.body-wrapper-->
			</div><!--#left-column-->

{% include sidebar.html %}

		</div><!--.body-container-->
		<div class="footer-container">
			<p class="footer-font">&copy 2014 Jennifer Aldoretta. All rights reserved.</p>
		</div><!--.footer-container-->
	</body>
	</html>