---
title: Books - Jennifer Aldoretta
---

{% include header.html %}

		<div class="body-container">
			<div class="left-column">
				<h2 class="body-title">I&rsquo;ve written some things</h2>
				<div class="body-wrapper">
					<div class="body-left-column">
						<div class="cycle">
							<img class="shadow" id="cycle-resize" src="/img/cycle.jpg" atl="cycle-resize"/>
						</div>
					</div>
					<div class="body-right-column">
						<p><em>The Cycle</em> explores the complex relationship between society and menstruation, and suggests ways in which we can help overcome the burdens of menstrual-related stigmas faced by women. I seek to break down this stigma by educating readers on the many benefits of a natural menstrual cycle, including natural and highly-effective pregnancy prevention, pregnancy assistance, maintenance of gynecological health, and timely diagnosis of many reproductive disorders.</p>
						<p><em>The Cycle</em> will teach you the details of practicing the sympto-thermal method of fertility awareness for these purposes, and along the way will hopefully make the taboo topic of menstruation feel a little more human. I am so passionate about this subject that I have made the book <a target="_blank" class="body-text-link" href="http://www.readytogroove.com/the-cycle/">available for free</a>.</p>
					</div>
				</div>
			</div>

{% include sidebar.html %}

{% include footer.html %}