---
title: Meet Jennifer Aldoretta
---

{% include header.html %}

		<div class="body-container">
			<div class="left-column">
				<h2 class="body-title">Howdy!</h1>
				<div id="hide">
					<div class="img-resize">
							<img class="JA-img" src="/img/Jennifer-Aldoretta.jpg" alt="Jennifer Aldoretta" />
					</div>
					<div>
						<ul>
							<li class="social">
								<a target="_blank" class="social-buttons" href="http://www.twitter.com/jaldoretta"><img src="/img/twitter_follow.png" alt="Twitter"/></a>
							</li>
							<li class="social">
								<a target="_blank" class="social-buttons" href="http://www.facebook.com/jennifer.aldoretta"><img src="/img/facebook_follow.png" alt="Facebook"/></a>
							</li>
							<li class="social">
								<a target="_blank" class="social-buttons" href="http://www.linkedin.com/in/jaldoretta/"><img src="/img/linkedin_follow.png" alt="LinkedIn"/></a>
							</li>
						</ul>
					</div>
				</div><!--#hide-->
				<div class="body-wrapper">
					<p>My name is Jennifer, and I live in Austin, Texas. I&rsquo;m an entrepreneur, a helluva engineer, a women&rsquo;s health enthusiast, a fertility awareness expert and advocate, <a class="body-text-link" href="/books">an author</a>, a <a target="_blank" class="body-text-link" href="https://www.youtube.com/channel/UC6bz0z-Fbze2En7HUu5dmCQ">YouTube vlogger</a>, a hacker-in-training, and a life-long learner.</p>
					<p>I&rsquo;m the CEO of <a target="_blank" class="body-text-link" href="http://www.readytogroove.com">Groove</a>, a company that helps women take control of their reproductive health and fertility. I&rsquo;m passionate about the intersection of women&rsquo;s health and technology, and I aim to make high-quality resources about female reproductive health freely available to all women. I am a strong proponent of the open source movement and I strive to align my work with that belief.</p>
					<p>Some of my other interests include painting, music, cycling, reading, running, traveling, and learning anything and everything I have time for.</p>
					<p>If you&rsquo;d like to work with me, or just say hello, <a class="body-text-link" href="mailto:jennifer@readytogroove.com">get in touch</a>. I&rsquo;d love to hear from you!</p>
				</div>
			</div>

{% include sidebar.html %}

		</div><!--.body-container-->
		<div class="footer-container">
			<p class="footer-font">&copy 2014 Jennifer Aldoretta. All rights reserved.</p>
		</div><!--.footer-container-->
	</body>
	</html>