---
title: Meet Jennifer Aldoretta
---

{% include header.html %}

		<div class="body-container">
			<div class="left-column">
				<h2 class="body-title">Howdy!</h1>
				<div id="hide">
					<div class="img-resize">
						<div class="image-border">
							<img class="JA-img" src="/img/Jennifer-Aldoretta.jpg" alt="Jennifer Aldoretta" />
						</div>
					</div>
					<div>
						<ul>
							<li class="social">
								<a target="_blank" class="social-buttons" href="http://www.twitter.com/jaldoretta"><img src="/img/twitter_follow.png" alt="Twitter"/></a>
							</li>
							<li class="social">
								<a target="_blank" class="social-buttons" href="http://www.facebook.com/jennifer.aldoretta"><img src="/img/facebook_follow.png" alt="Facebook"/></a>
							</li>
							<li class="social">
								<a target="_blank" class="social-buttons" href="http://www.linkedin.com/in/jaldoretta/"><img src="/img/linkedin_follow.png" alt="LinkedIn"/></a>
							</li>
						</ul>
					</div>
				</div><!--#hide-->
				<div class="body-wrapper">
					<p>My name is Jennifer, and I live in Austin, Texas. I&rsquo;m an entrepreneur, graphic designer, web developer, photographer, artist, engineer, health and fitness expert, avid biohacker, and life-long learner.</p>
					<p>I&rsquo;m the cofounder and CEO of <a target="_blank" class="body-text-link" href="http://www.readytogroove.com">Groove</a>, a company that empowers women to take control of their reproductive health by educating them about the incredible stream of data the female body creates every single day.</p>
					<p>Some of my obsessions include female reproductive health, functional fitness, the microbiome, biohacking, and building shit. I can often be spotted riding my bicycle around Austin and reading medical journals.</p>
					<p>Check out <a class="body-text-link" href="/portfolio">my portfolio</a>, and if you&rsquo;re interested in working with me, <a class="body-text-link" href="mailto:jaldoretta@gmail.com">get in touch</a>. I&rsquo;d love to hear from you!</p>
				</div>
			</div>

{% include sidebar.html %}

{% include footer.html %}