---
title: Portfolio - Jennifer Aldoretta
---

{% include header.html %}

		</div><!--.header-container-->
		<div class="body-container">
			<div class="left-column">
				<h2 class="body-title">My work</h1>
				<div class="body-wrapper">
					<div class="portfolio-img-list">
						<a target="_blank" class="work-display" href="http://www.readytogroove.com"><img class="portfolio-img image-on" src="/img/groove-site-plus-text.png" alt="Groove company website"/><img class="portfolio-img image-off" src="/img/groove-site.png" alt="Groove company website"/></a>
						<a target="_blank" class="work-display" href="https://itunes.apple.com/app/id831795151"><img class="portfolio-img image-on" id="groove-app-work" src="/img/groove-app-plus-text.png" alt="Groove Period &amp; Fertility Tracker"/><img class="portfolio-img image-off" id="groove-app-work" src="/img/groove-app.png" alt="Groove Period &amp; Fertility Tracker"/></a>
						<a target="_blank" class="work-display" href="http://www.readytogroove.com/blog/2015/07/08/infographic-how-to-design-apps-for-women-a-handy-guide/"><img class="portfolio-img image-on" id="groove-site-work" src="/img/app-design-infographic-plus-text.png" alt="How to Design Apps for Women"/><img class="portfolio-img image-off" id="groove-site-work" src="/img/app-design-infographic.png" alt="How to Design Apps for Women"/></a>
						<a target="_blank" class="work-display" href="http://www.readytogroove.com/blog/2015/03/09/infographic-8-awesome-period-facts-everyone-should-know/"><img class="portfolio-img image-on" id="groove-site-work" src="/img/period-facts-infographic-plus-text.png" alt="8 Awesome Period Facts"/><img class="portfolio-img image-off" id="groove-site-work" src="/img/period-facts-infographic.png" alt="8 Awesome Period Facts"/></a>
						<a target="_blank" class="work-display" href="http://www.whatiscervicalfluid.com"><img class="portfolio-img image-on" id="cf-work" src="/img/cf-site-plus-text.png" alt="What is cervical fluid?"/><img class="portfolio-img image-off" id="cf-work" src="/img/cf-site.png" alt="What is cervical fluid?"/></a>
					</div>
				</div><!-- .body-wrapper -->
			</div><!--.left-column-->

{% include sidebar.html %}

{% include footer.html %}