---
title: Portfolio - Jennifer Aldoretta
---

{% include header.html %}

		</div><!--.header-container-->
		<div class="body-container">
			<div class="left-column">
				<h2 class="body-title">Branding &amp; Web Development</h1>
				<div class="body-wrapper">
					<div class="portfolio-img-list">
						<a target="_blank" class="work-display" href="http://www.readytogroove.com"><img class="portfolio-img image-off" src="/img/groove-site.png" alt="Groove company website"/></a>
						<a target="_blank" class="work-display" href="https://periodreset.readytogroove.com"><img class="portfolio-img image-off" src="/img/period-reset-img.png" alt="Period Reset program website"/></a>
						<a target="_blank" class="work-display" href="http://www.whatiscervicalfluid.com"><img class="portfolio-img image-off" id="cf-work" src="/img/cf-site.png" alt="What is cervical fluid?"/></a>
					</div>
				</div><!-- .body-wrapper -->

				<h2 class="body-title">Logo &amp; Graphic Design</h1>
				<div class="body-wrapper">
					<div class="portfolio-img-list">
						<a target="_blank" class="work-display" href="http://www.readytogroove.com"><img class="logo-img image-off" id="groove-logo" src="/img/groove-logo.png" alt="Groove company logo"/></a>
						<a target="_blank" class="work-display" href="https://periodreset.readytogroove.com"><img class="logo-img image-off" id="period-reset-logo" src="/img/period-reset-logo.png" alt="Period Reset logo"/></a>
						<img class="logo-img image-off" id="peg-atx-logo" src="/img/peg-atx-logo.png" alt="PEGatx logo"/>
						<a target="_blank" class="work-display" href="https://itunes.apple.com/app/id831795151"><img class="portfolio-img image-off" id="groove-app-work" src="/img/groove-app.png" alt="Groove Period &amp; Fertility Tracker"/></a>
						<a target="_blank" class="work-display" href="http://www.readytogroove.com/blog/2015/07/08/infographic-how-to-design-apps-for-women-a-handy-guide/"><img class="portfolio-img image-off" id="groove-site-work" src="/img/design-apps-for-women.png" alt="How to Design Apps for Women"/></a>
						<a target="_blank" class="work-display" href="http://www.readytogroove.com/blog/2015/03/09/infographic-8-awesome-period-facts-everyone-should-know/"><img class="portfolio-img image-off" id="groove-site-work" src="/img/8-awesome-period-facts.png" alt="8 Awesome Period Facts"/></a>
					</div>
				</div><!-- .body-wrapper -->

				<h2 class="body-title">Art &amp; Photography</h1>
				<div class="body-wrapper">
					<div class="portfolio-img-list">
						<a target="_blank" class="work-display"><img class="portfolio-img image-off" src="/img/abigail-lacey.jpg" alt="Abigail and Lacey"/></a>
						<a target="_blank" class="work-display"><img class="portfolio-img image-off" src="/img/pease-park.jpg" alt="Pease Park"/></a>
						<a target="_blank" class="work-display"><img class="portfolio-img image-off" src="/img/baby.jpg" alt="Baby Jayda"/></a>
						<a target="_blank" class="work-display"><img class="portfolio-img image-off" src="/img/sarah.jpg" alt="Sarah"/></a>
						<a target="_blank" class="work-display"><img class="portfolio-img image-off" src="/img/kenny.jpg" alt="Kenny"/></a>
						<a target="_blank" class="work-display"><img class="portfolio-img image-off" src="/img/jenna.jpg" alt="Jenna"/></a>
					</div>
				</div><!-- .body-wrapper -->

			</div><!--.left-column-->

{% include sidebar.html %}

{% include footer.html %}