<div class="right-column">
	<div class="right-column-wrapper">
		<div class="img-resize">
			<img class="JA-img" src="/img/Jennifer-Aldoretta.jpg" alt="Jennifer Aldoretta image" />
		</div>
		<p class="right-column-paragraph">Howdy. Thanks for stopping by!</p>
		<div>
			<ul class="social-ul">
				<li class="social">
					<a target="_blank" class="social-buttons" href="http://www.twitter.com/jaldoretta"><img src="/img/twitter_follow.png" alt="Twitter"/></a>
				</li>
				<li class="social">
					<a target="_blank" class="social-buttons" href="http://www.facebook.com/jennifer.aldoretta"><img src="/img/facebook_follow.png" alt="Facebook"/></a>
				</li>
				<li class="social">
					<a target="_blank" class="social-buttons" href="http://www.linkedin.com/in/jaldoretta/"><img src="/img/linkedin_follow.png" alt="LinkedIn"/></a>
				</li>
			</ul>
		</div>
	</div><!--.right-column-wrapper-->
</div><!--.right-column-->