<html lang="en">
	<head>
		<meta charset="utf-8">
	    <title>{{ page.title }}</title>
	    <meta property="og:title" content="This is the Title of the Page"/>
	    <meta name="description" content="I write about startups, feminism, women's health, fertility awareness, and other topics.">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <link rel='stylesheet' type='text/css' href='/css/reset.css'/>
	    <link rel='stylesheet' type='text/css' href='/css/style.css'/>
	    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
		<link rel="shortcut icon" type="image/png" href="http://www.jenniferaldoretta.com/favicon.png" />
	    <script type='text/javascript' src='/http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
	    <script type='text/javascript' src='/js/script.js'></script>
	</head>
	<body>
		<div class="header-container">
			<div class="main-header-text">
				<h1><span class="light">JENNIFER</span><span class="double-line">ALDORETTA</span></h1>
				<h2><span class="light">I write about</span> startups<span class="light">,</span> feminism<span class="light">,</span> women's health<span class="light">,</span> fertility awareness<span class="light">, and other topics.</span></h2>
			</div><!--.main-header-text-->
			<nav>
				<ul>
            		<li class="nav"><a class="nav-text-link" href="/" title="home">home</a></li>
            		<li class="nav"><a class="nav-text-link" id="blog-nav" href="/blog" title="blog">blog</a></li>
            		<li class="nav"><a class="nav-text-link" id="books-nav" href="/books" title="books">books</a></li>
          		</nav>
          	</div>
		</div><!--.header-container-->
		</div>
		<div class="body-container">
			<div class="left-column">
				<h1 class="body-title">{{ page.title }}</h1>
				<p class="blog-date">Posted on {{ page.date | date: '%B %-d, %Y' }}</p>
				<div class="body-wrapper">
					<p>{{ content }}</p>
				</div><!--.blog-body-->
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like social-buttons" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet social-buttons"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ceee943bc45eff"></script>
				<!-- AddThis Button END -->
			</div>
			<div class="right-column">
				<div class="right-column-wrapper">
					<div class="img-resize">
						<img class="JA-img" src="/img/JA.jpg" atl="img-resize" />
					</div>
					<p class="right-column-paragraph">Howdy. Thanks for stopping by!</p>
					<div>
						<ul>
							<li class="social">
								<a class="social-buttons" href="http://www.twitter.com/jaldoretta"><img src="/img/twitter_follow.png" alt="Twitter"/></a>
							</li>
							<li class="social">
								<a class="social-buttons" href="http://www.facebook.com/jennifer.aldoretta"><img src="/img/facebook_follow.png" alt="Facebook"/></a>
							</li>
							<li class="social">
								<a class="social-buttons" href="http://www.linked.com/in/jaldoretta/"><img src="/img/linkedin_follow.png" alt="LinkedIn"/></a>
							</li>
						</ul>
					</div><!--.social-->
				</div><!--.right-column-wrapper-->
			</div><!--#right-column-->
		</div><!--.body-container-->
		<div class="footer-container">
			<p class="footer-font">&copy 2014 Jennifer Aldoretta. All rights reserved.</p>
		</div><!--.footer-container-->
	</body>
	</html>