{% include header2.html %}

		<div class="body-container">
			<div class="left-column">
				<h3 class="blog-title">{{ page.title }}</h3>
				<p class="blog-date">Posted on {{ page.date | date: '%B %-d, %Y' }}</p>
				<div class="body-wrapper">
					<p>{{ content }}</p>
				</div><!--.blog-body-->
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
				<a class="addthis_button_facebook_like social-buttons" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet social-buttons"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ceee943bc45eff"></script>
				<!-- AddThis Button END -->
			</div>

{% include sidebar.html %}		

{% include footer.html %}	
